# system files
.DS_Store
Thumbs.db

# vscode
.vscode

# r
/renv

# web dev
/node_modules

# quarto
/.quarto/

data/.cache
*_cache/

# .gpkg files are exported by the analysis but too big to commit
data/*.gpkg

